{
    "openapi": "3.0.1",
    "info": {
        "title": "PLM_DATA_INGESTION",
        "version": "01.00.0000",
        "x-vb": {
            "serviceType": "openapi"
        }
    },
    "servers": [
        {
            "url": "https://gosaas-oic-gosaas-ia.integration.us-ashburn-1.ocp.oraclecloud.com/ic/api/integration/v2/flows/rest/project/ZA_PLM/PLM_DATA_INGESTION/1.0",
            "x-vb": {
                "authentication": {
                    "authenticated": {
                        "type": "oauth2_user_assertion",
                        "scope": "https://27AB99603F0E412C82017D2BD66711A2.integration.ocp.oraclecloud.com:443urn:opc:resource:consumer::all"
                    }
                },
                "forceProxy": "cors"
            }
        }
    ],
    "paths": {
        "/refresh-plm": {
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/request-wrapper"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "500": {
                        "description": "Faults",
                        "content": {}
                    },
                    "default": {
                        "description": "A sample description of the Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/response-wrapper"
                                },
                                "example": "{\"message\":\"PLM Ingestion completed successfully\",\"status\":\"SUCCESS\"}"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "basicAuthentication": []
                    }
                ],
                "x-codegen-request-body-name": "request-wrapper",
                "operationId": "postRefreshPlm"
            }
        }
    },
    "components": {
        "schemas": {
            "request-wrapper": {
                "required": [
                    "organizationCode"
                ],
                "type": "object",
                "properties": {
                    "organizationCode": {
                        "type": "string",
                        "example": null
                    }
                },
                "example": "{\"organizationCode\":\"GOSAAS\"}"
            },
            "response-wrapper": {
                "required": [
                    "message",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "example": null
                    },
                    "message": {
                        "type": "string",
                        "example": null
                    }
                },
                "example": "{\"message\":\"PLM Ingestion completed successfully\",\"status\":\"SUCCESS\"}"
            },
            "APIInvocationError": {
                "required": [
                    "detail",
                    "errorCode",
                    "errorDetails",
                    "title",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "example": null
                    },
                    "title": {
                        "type": "string",
                        "example": null
                    },
                    "detail": {
                        "type": "string",
                        "example": null
                    },
                    "errorCode": {
                        "type": "string",
                        "example": null
                    },
                    "errorDetails": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "required": [
                                "errorCode",
                                "errorPath",
                                "instance",
                                "title",
                                "type"
                            ],
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string",
                                    "example": null
                                },
                                "instance": {
                                    "type": "string",
                                    "example": null
                                },
                                "title": {
                                    "type": "string",
                                    "example": null
                                },
                                "errorPath": {
                                    "type": "string",
                                    "example": null
                                },
                                "errorCode": {
                                    "type": "string",
                                    "example": null
                                }
                            },
                            "example": null
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "basicAuthentication": {
                "type": "http",
                "scheme": "basic"
            }
        }
    }
}